{% extends "main/base.html" %}

{% block title %}Acerca de mí{% endblock title %}

{% block content_title %}
<h1 style="
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 40px;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 2px;
">
    Sobre mí
</h1>
{% endblock content_title %}

{% block content %}
<div style="max-width: 800px; margin: 0 auto; padding: 30px; font-size: 18px; color: #34495e; line-height: 1.6;">
    <p>¡Hola! Soy Pedro, el creador de este blog de galerías de arte. disfrute la programación y compartir ideas a través de la tecnología.</p>

    <p>Este sitio fue desarrollado como proyecto final de curso utilizando Django. </p>

    <p>Espero que disfrutes explorando este espacio tanto como yo disfruté crearlo. ¡Gracias por visitar!</p>
</div>
{% endblock content %}
