{% extends "main/base.html" %} 

{% block title %}
Perfil
{% endblock title %}

{% block content_title %}
Perfil del usuario
{% endblock content_title %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body">
                    <h5 class="card-title mb-4 text-center">Información del usuario</h5>
                    
                    <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
                    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
                    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    
                    <div class="text-center mt-4">
                        <a href="{% url 'main:editar_perfil' %}" class="btn btn-outline-primary">Editar Perfil</a>
                        <a href="{% url 'mensajes:enviar_mensaje' %}" class="btn btn-sm btn-outline-secondary">Enviar mensaje</a>
                        <a href="{% url 'mensajes:lista_mensajes' %}" class="btn btn-sm btn-outline-info">Mis mensajes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
